{% extends '::base.html.twig' %}

{% block title %}The CookBook - Submit a new entry{% endblock %}

{% block body %}

    {{ tinymce_init() }}

    <div class="row">

        <h1>Submit your Recipe</h1>

        <div class="large-12 columns">
        <form action="{{ path('baker_recipe_create' ) }}" method="post" {{ form_enctype(form) }} class="baker">
            {{ form_widget(form) }}
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
        </div>

    </div>

{% endblock %}